root = true

[*]
insert_final_newline = true

[*.{kt, kts}]
indent_style = space
indent_size = 4

[*.{yml, yaml, json, html, xml}]
indent_style = space
indent_size = 2

# Windows-style newlines for Windows batch files
[*.bat]
end_of_line = crlf

[*.md]
indent_style = space
indent_size = 4
