name: "Check / Test"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: "Gradle Test"

    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: '16'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: run Gradle Test
        run: ./gradlew test
