name: "Gradle Publish"

on:
  push:
    branches: [ "master" ]
    tags: [ "v**" ]

jobs:
  publish:
    name: "Gradle Publish"

    # Prevent job from running, when there's no version tag
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}

    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: '16'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Publish to Github Registry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew publish
