name: "Validate Gradle Wrapper"
on:
  - push
  - pull_request

jobs:
  validation:
    permissions:
      contents: read

    name: "Gradle Wrapper Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
